.site-header {
	background-color: #f44336;
	color: white;
	height: 100vh;
	font-family: montserrat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.site-header-content {
	margin: 10px;
}

@media(prefers-color-scheme: dark) {
	.site-header {
		background-color: #353639;
	}
}

.profile-pic {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	align-self: center;
	box-shadow: black 2px 5px 5px;
}

.course-link {
	font-family: montserrat;
	color: white;
}

body {
	margin: 0;
}
